/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/

body {
font-family: 'Reforma 1918', sans-serif;
font-family: 'Reforma 1969', sans-serif;
font-family: 'Reforma 2018', sans-serif;
}